*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    background-color: red;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
    color: #FFF;
}

.contentenedor-opcion{
    margin: 30px;
    width: 300px;
}

.opcion{
    width: 250px;
    border-radius: 20px;
    margin: 5px;
}

.canal{
    font-weight: bold;
}

.main{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    text-align: center;
}
